:root {
    --font-family-main: "Montserrat Alternates", sans-serif;
    --font-family-text-logo: "Caveat Brush", sans-serif;

    // size s
    --font-size-s: 12px;
    --font-line-s: 16px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    // size m
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // size l
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // size xl
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Размеры
    --accent-color-10: #8C64A5;
    --accent-color-8: rgba(140, 100, 165, 0.8);

    // Цвета
}
