:root {
    --font-family-main: "Mulish", sans-serif;

    // size 10
    --font-size-10: 10px;
    --font-line-10: 14px;
    --font-10: var(--font-size-10) / var(--font-line-10) var(--font-family-main);

    // size 14
    --font-size-14: 14px;
    --font-line-14: 18px;
    --font-14: var(--font-size-14) / var(--font-line-14) var(--font-family-main);

    // size 16
    --font-size-16: 16px;
    --font-line-16: 24px;
    --font-16: var(--font-size-16) / var(--font-line-16) var(--font-family-main);

    // size 20
    --font-size-20: 20px;
    --font-line-20: 28px;
    --font-20: var(--font-size-20) / var(--font-line-20) var(--font-family-main);

    // size 30
    --font-size-30: 30px;
    --font-line-30: 38px;
    --font-30: var(--font-size-30) / var(--font-line-30) var(--font-family-main);

    // size 50
    --font-size-50: 50px;
    --font-line-50: 58px;
    --font-50: var(--font-size-50) / var(--font-line-50) var(--font-family-main);

    // size 70
    --font-size-70: 70px;
    --font-line-70: 78px;
    --font-70: var(--font-size-70) / var(--font-line-70) var(--font-family-main);

    // Размеры
    --navbar-height: 100px;

    // Цвета
    --black: #000000;
    --black-dark: #1C1D23;
    --black-light: #222529;
    --red: #FC4C33;
    --white: #ffffff;
    --gray-dark: #909293;
    --gray: #E1E1E1;
    --gray-light: #F1F1F1;
    --green: #329F3D;
    --gray-black: #5D5E62;
    --gray-2: #BABBBF;
}
