.Modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    padding: 20px;
    border-radius: 12px;
    background: var(--bg-color);
    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 60%;
    z-index: var(--modal-z-index);
}

.modalOld {
    .content {
        background: var(--bg-color);
    }
}

.modalNew {
    .content {
        background: var(--light-bg-redesigned);
    }
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--modal-z-index-overlay);

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.2);
    }
}

.cross{
    position: absolute;
    right: 16px;
    top: 16px;
}