.Button {
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--gray-dark);
}

.filled_red {
    border: none;
    outline: none;
    padding: 16px 32px;
    color: var(--black-dark);
    background: var(--red);
}

.filled_black {
    border: none;
    outline: none;
    padding: 16px 32px;
    color: var(--red);
    background: var(--black-light);
}

.outline_red {
    background: none;
    border: 2px solid var(--red);
    color: var(--red);
    padding: 16px 32px;
}

.withAddon {
    padding: 0 16px;
}

.addonLeft,
.addonRight {
    display: flex;
}

.disabled {
    opacity: 0.5;
    cursor: wait;
    pointer-events: none;
}

.fullWidth {
    width: 100%;
}

