.Button {
    cursor: pointer;
    padding: 6px 16px;
    display: flex;
    align-items: center;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.withAddon {
    padding: 0 16px;
}

.filled {
    background: var(--accent-color-10);
    border: none;
    outline: none;
}

.outline {
    background: none;
    border: 2px solid var(--accent-color-10);
}

.addonLeft,
.addonRight {
    display: flex;
}

.m {
    font: var(--font-m);
}

.l {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}

.minBorder{
    border-radius: 16px;
}

.maxBorder{
    border-radius: 46px;
}

